<p class="note-short">
    <strong><%= note.title %></strong> <br>
    <small>
        ID: <strong><%= note._id %></strong> <br>
    </small> <br>
    <%= note.description.substr(0, 70) %>... <br> <br>
    <small>
        Date: <strong><%= note.date %></strong>
    </small>
    <a href= '/notes/<%= note._id %>' class="note-see-more">See more</a>
</p>
